@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$red: #e63946;
$fadedred: #f2636e;
$green: #165e30;
$fadedgreen: #227540;
$offwhite: #f1faee;
$jet: #000;
$dark: #222;
$offdark: #333;
$faded: #444;
$teal: #a8dadc;
$blue: #457b9d;
$darkblue: #1d3557;

$font-display: 'Abel', sans-serif;
$font-display: 'Open Sans', sans-serif;

body {
    color: white;
    background: $offdark;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}