@use 'base' as *;

.titlebar {
    display: flex;
    flex-direction: row;
    background: $dark;
    padding: 10px 15px;

    h1, i {
        margin: 0 5px;
        font-family: $font-display;
        font-size: 1.5em;

        &:is(i) {
            display: inline-block;
            margin-right: 0.5em;
            color: $teal;
        }
    }

    button[data-color] {
        all: unset;
        box-sizing: border-box;
        width: 33px;
        height: 33px;
        border: 4px solid $dark;
        border-radius: 50px;
        color: transparent;
        cursor: pointer;

        &:hover {
            border-color: $jet;
        }
        &.active {
            border-color: transparent;
        }

        &:first-of-type {
            margin-left: 30px;
        }
    }
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;

    align-items: stretch;

    .toolbar {
        display: flex;
        flex-direction: column;
        background: $dark;
        margin: 15px;
        padding: 0.25em;
        margin-right: 0;
        border-radius: 50px;

        button {
            all: unset;
            box-sizing: border-box;
            padding: 0.35em calc(0.35em + 2px);
            font-size: 1.5em;

            &:not(:last-child) {
                margin-bottom: 0.25em;
            }

            border: 2px solid transparent;
            border-radius: 50px;
            cursor: pointer;

            transition: 0.1s;

            &:hover {
                border-color: $blue;
            }
            &.active {
                background: $teal;
                color: $dark;
            }

            i { position: relative; top: 1px; }
        }
        .space {
            flex-grow: 1;
        }
    }
}